body, html {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
}

#container {
	width: 100%;
	height: 100vh;
}

#panel {
	min-width: 74px;
	height: 100vh;
	background: #343434;
	float: left;
	display: inline;
}

#color {
	background: black;
}

#canvas-container {
	margin-left: 74px;
	width: 5000px;
	height: 100vh;
	background: white;
	/*float: left;*/
}

.button {
	border-radius: 10px;
	border: 3px solid black;
	background: #FFFFFF;
	margin: auto;
	width: 60px;
	height: 60px;
	margin-top: 15px;
	text-align: center;
	transition: all 0.3s;
}

.cell {
	border-radius: 10px;
	background: #343434;
	width: 60px;
	min-height: 60px;
	transition: all 0.3s;
	float: left;
}

#er {
	padding-top: 2px;
}

#mrk {
	padding-top: 4px;
}

#co {
	padding-top: 2px;
	display: inline-block;
}

.button:hover {
	background: #8b8d91;
}

.cell:hover {
	background: #8b8d91;
}

.innerDiv {
	border-radius: 10px;
	border: 3px solid black;
	background: #343434;
	width: 300px;
	height: 60px;
	margin-top: 15px;
	margin-left: 5px;
	transition: all 0.3s;
	position: absolute;
	display: block;
}

#sizeDiv {
	margin-top: 97px;
}

.square {
	border-radius: 10px;
	border: 1px solid black;
	width: 50px;
	height: 50px;
	margin: auto;
	margin-top: 4px;
}

.circle {
	border-radius: 50%;
	border: 1px solid #343434;
	margin: auto;
	margin-top: 4px;
	background: white;
}
